.firstHBox
{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    gap: 26px;
    padding-left: 900px;
}
.labelColumn
{
    background-color: red !important;
}
.secondHBox
{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    gap: 26px;
    padding-left: 1000px;
}
#editDialog {
    right: 0;
    left: auto;
}
.sidebarDialog {
    position: absolute !important;
    right: 0 !important;
    margin-left: auto !important;
}